
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "../Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="radio">
            <label>
                <input type="radio"> Label
            </label>
        </div>
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
            Open collapse
        </button>
        <div id="collapse" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <button type="button" class="btn btn-default btn-df">
            Action <span class="caret"></span>
        </button>

        <h1>
            Hello World
        </h1>

    </div>
   
</body>
</html>
