
        <div class="radio">
            <label>
                <input type="radio"> Label
            </label>
        </div>
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
            Open collapse
        </button>
        <div id="collapse" class="collapse">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <button type="button" class="btn btn-default btn-df">
            Action <span class="caret"></span>
        </button>

        <h1>
            Hello World
        </h1>
