
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">@RenderSection("SectionTitle", true)</div>
        <div class="panel-body">
            @RenderBody()
        </div>
    </div>
</div>

@section SectionScripts
        {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("SectionScripts", false)
    @RenderSection("SectionAlert", false)
}